/**Limpando o fluxo padrão da aplicação */
* {
    margin: 0px;
    padding: 0px;
}

/**Configuração do container Home */
#conatainerHome {
    background-color: #191a21;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchCEP {
    color: whitesmoke;
    width: 800px;
}

.searchCEP h1 {
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 60px 0px;  
}

.searchCEP label h4 {
    font-size: 20px;
    margin: 10px;
}

.formBox input {
    margin: 10px;
    border-radius: 9px;
    font-size: 30px;
    padding: 10px;
    border-style: none;
    width: 700px;
    height: 50px;
    background-color: whitesmoke;
    color: #191a21;
    font-weight: bold;
}

#result {
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
}

#result h5 {
    margin: 20px 0px;
    text-transform: uppercase;
}

.styleButton button {
    font-size: 30px;
    font-weight: bolder;
    border-radius: 9px;
    background-color: whitesmoke;
    color: #191a21;
    margin: 10px;
    padding: 10px;
    border-style: none;
}